@import "tailwindcss";
@tailwind utilities;

/* Show scrollbar on mobile */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffc000;
    border-radius: 10px;
    border: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #ffc000 #f1f1f1;
  }
}

/* Hide scrollbar on larger screens */
@media (min-width: 769px) {
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  /* Primary Colors */
  --color-primary-50: #fff9e5;
  --color-primary-100: #fff2cc;
  --color-primary-200: #ffe699;
  --color-primary-300: #ffd966;
  --color-primary-400: #ffcc33;
  --color-primary-500: #ffc000;
  --color-primary-600: #e6ac00;
  --color-primary-700: #cc9900;
  --color-primary-800: #b38600;
  --color-primary-900: #996600;

  /* Secondary Colors */
  --color-secondary-500: #ff3333;

  /* Neutral Colors */
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;

  /* Background Colors */
  --color-background-light: #ffffff;
  --color-background-dark: #f9f9f9;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
